<div class="navbar bg-neutral text-neutral-content" *ngIf="token$ | async">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>

      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-52"
      >
        <li *ngFor="let item of menu">
          <a
            [routerLink]="item.path"
            routerLinkActive="btn-active"
            *ngIf="!item.adminOnly || (isAdmin$ | async)"
          >
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>

    <a [routerLink]="['/']" class="btn btn-ghost normal-case text-xl"> LMS </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li *ngFor="let item of menu">
        <a
          [routerLink]="item.path"
          routerLinkActive="btn-active"
          *ngIf="!item.adminOnly || (isAdmin$ | async)"
        >
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <button class="btn bg-base-300" (click)="onLogout()">Logout</button>
  </div>
</div>
